body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
/* ===== HEADER ===== */
.header {
    width: 100%;
    background-color: #004aad;
  }
  
  .nav {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
  .logo img {
    height: 60px;
  }
  
  .hamburger {
    font-size: 2rem;
    color: white;
    cursor: pointer;
    display: none; /* Esconde no desktop */
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }

  .nav-links li #btnblog{
    background-color: aliceblue; 
    color: blue; 
    border-radius: 4px; 
    padding: 7px;
  }

  
  .nav-links li a:active {
    color: rgb(253, 0, 0);
  }

  .nav-links li a:hover {
    color: #00ff99;
  }
  
  /* ===== RESPONSIVO MOBILE ===== */
  @media (max-width: 768px) {
    .hamburger {
      display: block;
    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: #004aad;
      position: absolute;
      top: 80px;
      left: 0;
      padding: 1rem 0;
      text-align: center;
    }
  
    .nav-links.active {
      display: flex;
    }
  
  }


#iniciosite{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url("img/imgfundosite.jpg");    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: grid;
    place-items:center;
    border-bottom: #318aff solid 3px;
}

#iniciosite #internoiniciosite{

}

#iniciosite #internoiniciosite img{
    display: block;
    margin: 30px auto;
    width: 380px;
}

#iniciosite #internoiniciosite p{
    color: white;
    width: 80%;
    margin: auto;
    text-align: center;
    font-weight: 900;
}

#iniciosite #internoiniciosite #links{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 15px auto;
}

#iniciosite #internoiniciosite #links a{
    display: block;
    max-width: 200px;
    background-color: #004aad;
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 700;
}


.apresentacao{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.apresentacao .itenapresentação{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.181);
    margin: 20px;
    border-radius: 10px;
    border-left: #318aff solid 0.5px;
    border-bottom: #318aff solid 0.5px;
}

.apresentacao .itenapresentação h1{
    text-align: center;
    color: #0764dd;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.apresentacao .itenapresentação h1 img{
    height: 60px;
    margin-right: 10px;
}


.apresentacao .itenapresentação .textoapresentacao{
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.apresentacao .itenapresentação .textoapresentacao p{
    margin: 0 20px;
    text-align: justify;
}

.apresentacao .itenapresentação .textoapresentacao strong{
    color: #004aad;
}

.apresentacao .itenapresentação .imgapresentacao{
    width: 450px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.apresentacao .itenapresentação .imgapresentacao img{
    border-radius:10px ;
}

.apresentacao .itenapresentação a{
   text-decoration: none;
   display: block;
   margin: 5px auto;
   width: max-content;
   background-color: #0764dd;
   color: white;
   padding: 5px;
   border-radius: 5px;
   font-weight: 700;
}

@media (max-width: 580px){

    #iniciosite #internoiniciosite img{
        width: 90%;
    }

    #iniciosite #internoiniciosite p{
        color: white;
        width: 97%;
    }

    .apresentacao{
        width: 100%;
    }
    
    .apresentacao .itenapresentação{
        width: 95%;
        margin: auto;
        margin-bottom: 15px;
    }

    .apresentacao .itenapresentação .textoapresentacao{
        width: 100%;
        margin: auto;
    }

    .apresentacao .itenapresentação .imgapresentacao{
        width: 100%;
    }

    .apresentacao .itenapresentação .imgapresentacao img{
        width: 80%;
        margin: auto;
    }

    .apresentacao .itenapresentação a{
        margin: 25px auto;
     }
}














  
.home-container {
    margin: 0 auto;
}
  
.home-header {
    text-align: center;
    margin-bottom: 30px;
}
  
.home-header img {
    margin: 40px auto;
}
  
.home-header p {
    color: #666;
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto;
}
  
.home-destaques {
    margin: 80px;
}
  
.home-titulo-destaques {
    font-size: 24px;
    color: #e3a600;
    margin-bottom: 20px;
    text-align: center;
}
  
.home-grid-destaques {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
  
.home-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 350px;
}
  
.home-img {
    background: #e2e8f0;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.home-img img {
    width: 100%;
    aspect-ratio: 16 / 9;
}
  
.home-conteudo {
    padding: 20px;
}
  
.home-titulo {
    font-size: 18px;
    font-weight: bold;
    color: #00ff99;
    margin-bottom: 10px;
    display: block;
}
  
.home-info {
    font-size: 14px;
    color: #666;
    margin-bottom: 8px;
    display: block;
}
  
.home-rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.home-btn{
    background: #e3a600;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    width: max-content;
    border: none;
}

.home-btn a{
    text-decoration: none;
    color: white;

}


/*INICIO CONFIGURAÇÃO RESPONSIVIDADE*/
/*INICIO CONFIGURAÇÃO RESPONSIVIDADE*/
@media (max-width: 420px) {
.home-header img {
    height: 50px;
}
  
.home-destaques {
    margin: 20px;
}
  
.home-card {
    width: 80%;
}

}
